iframe {
  margin: 1em 12em;
  height: 30em;
  width: 53em;
}
.ql-editor .ql-video {
  margin: auto;
}
img {
  display: block;
  margin: auto;
  height: 30em;
  width: 53em;
}
@media screen and (max-width: 768px) {
  .ant-card-bordered {
    width: 306px !important;
  }
  .ql-editor .ql-video {
    height: 14em;
  }
  iframe {
    height: 13em !important;
    margin: 0;
    width: auto;
  }
  .ql-editor img {
    height: 14em;
  }
  img {
    height: 13em;
    width: auto;
  }
}
